@import url(../../../lib/animate/animate.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes circle {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(360deg); }
  90% {
    transform: rotate(260deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes scale {
  0% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.1, 1.1); }
  90% {
    transform: scale(1.2, 1.2); }
  100% {
    transform: scale(1, 1); } }
.block_bg_blianer {
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .block_bg_blianer ._bg_blianer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vw;
    margin: auto;
    z-index: -1;
    overflow: hidden;
    transform: rotate(-75deg);
    filter: blur(0.2rem);
    opacity: 0.5; }
    .block_bg_blianer ._bg_blianer span {
      display: flex;
      animation: bg_blianer_sub ease-in-out 19s;
      animation-iteration-count: infinite;
      transform-origin: 50% 50%; }
      .block_bg_blianer ._bg_blianer span:before, .block_bg_blianer ._bg_blianer span:after {
        content: "";
        position: absolute;
        z-index: -1;
        display: flex;
        border-radius: 20%;
        animation: bg_blianer ease-in-out 4s;
        animation-iteration-count: infinite;
        transform-origin: 50% 50%; }
      .block_bg_blianer ._bg_blianer span:nth-child(1):before {
        width: 14rem;
        height: 0.15rem;
        margin-left: 42rem;
        margin-bottom: -20rem;
        background: #5a0fff;
        filter: blur(0.2rem); }
      .block_bg_blianer ._bg_blianer span:nth-child(1):after {
        width: 12rem;
        height: 0.2rem;
        margin-left: 14rem;
        background: #3282c8;
        filter: blur(0.4rem); }
      .block_bg_blianer ._bg_blianer span:nth-child(2) {
        margin-bottom: 5rem;
        margin-left: 1rem; }
        .block_bg_blianer ._bg_blianer span:nth-child(2):before {
          width: 30rem;
          height: 0.18rem;
          margin-bottom: 20rem;
          margin-left: -2rem;
          background: #491ab0;
          filter: blur(0.2rem); }
        .block_bg_blianer ._bg_blianer span:nth-child(2):after {
          width: 25rem;
          height: 0.12rem;
          margin-bottom: 45rem;
          margin-left: -12rem;
          background: #381a55; }
      .block_bg_blianer ._bg_blianer span:nth-child(3) {
        margin-bottom: 15rem;
        margin-left: 0rem; }
        .block_bg_blianer ._bg_blianer span:nth-child(3):before {
          width: 30rem;
          height: 0.2rem;
          margin-bottom: 0.9rem;
          background: #ff6f6f;
          filter: blur(0.3rem); }
        .block_bg_blianer ._bg_blianer span:nth-child(3):after {
          width: 5rem;
          height: 0.14rem;
          margin-bottom: 39rem;
          background: purple; }

@keyframes bg_blianer {
  0% {
    transform: translate(50rem, 0rem); }
  100% {
    transform: translate(-50rem, -2rem); } }
@keyframes bg_blianer_sub {
  0% {
    transform: translate(0rem, 50rem); }
  100% {
    transform: translate(0rem, 0rem); } }
body .block_modal {
  background: #f7efef; }
body .modal_form {
  background: white; }
  body .modal_form .block_header {
    padding: 1rem; }
  body .modal_form .block_sections {
    display: flex;
    flex-wrap: wrap; }
    body .modal_form .block_sections .block_section {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 1rem;
      box-sizing: border-box; }
      body .modal_form .block_sections .block_section._40 {
        flex-basis: 40%;
        min-width: 40%;
        max-width: 100%; }
      body .modal_form .block_sections .block_section._60 {
        flex-basis: 60%;
        min-width: 60%;
        max-width: 100%; }
      body .modal_form .block_sections .block_section._100 {
        flex-basis: 100%;
        min-width: 100%;
        max-width: 100%; }
  body .modal_form .block_footer {
    padding: 1rem; }

.input_checkbox,
.block_input {
  margin: 0 0 1rem; }
  .input_checkbox label,
  .block_input label {
    font-size: 1em;
    line-height: 1;
    margin-bottom: 0.2rem; }

.block_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .block_buttons .button:not(:last-child) {
    margin-right: 0.5rem; }

main h1 {
  font-size: 1.5em;
  margin-bottom: 1rem; }
main h2 {
  font-size: 1.3em;
  margin-bottom: 1rem; }
main h3 {
  font-size: 1.4em;
  margin-bottom: 1rem; }
main p {
  margin-bottom: 1rem; }
main strong,
main b {
  font-weight: bold; }
main i {
  font-style: italic; }
main ul {
  padding: 1rem 0; }
  main ul li {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem; }
main ol {
  padding: 1rem 0; }
  main ol li {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem; }
main a {
  color: #3282c8; }
  main a:hover {
    color: #3282c8;
    opacity: 0.7; }
main small {
  font-size: 0.8em;
  line-height: 1;
  opacity: 0.3; }
main strike {
  text-decoration: line-through; }

.fttm_progress {
  height: 0rem;
  overflow: hidden;
  transition: all 0.3s ease-in-out 0s; }
  .fttm_progress._active_ {
    height: 1rem; }

.fttm_alerts {
  position: fixed;
  bottom: 1rem;
  right: 1rem; }

.jGrowl .jGrowl-notification {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem; }
  .jGrowl .jGrowl-notification .jGrowl-close {
    font-size: 1rem;
    line-height: 1;
    font-weight: normal; }
  .jGrowl .jGrowl-notification .jGrowl-message {
    font-size: 1rem;
    line-height: 1;
    font-weight: normal; }
.jGrowl .sc_error {
  color: white;
  background: #ff7b7b; }
.jGrowl .sc_alert {
  color: white;
  background: white; }
.jGrowl .sc_success {
  color: white;
  background: #2cb544; }
.jGrowl .sc_default {
  color: white;
  background: white; }

.moneyforhour_block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400; }
  .moneyforhour_block > ._info {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    opacity: 0.5; }
    .moneyforhour_block > ._info > ._money, .moneyforhour_block > ._info > ._time {
      display: flex;
      padding: 0.2rem; }
      .moneyforhour_block > ._info > ._money > ._icon, .moneyforhour_block > ._info > ._time > ._icon {
        display: flex;
        padding-right: 0.3rem;
        font-size: 0.3em;
        line-height: 0.8em;
        opacity: 0.6; }
      .moneyforhour_block > ._info > ._money > ._value, .moneyforhour_block > ._info > ._time > ._value {
        display: flex;
        font-size: 0.5em;
        line-height: 0.8em; }
  .moneyforhour_block > ._result {
    display: none;
    padding: 1.2rem 0;
    font-weight: 600; }
    .moneyforhour_block > ._result._active_ {
      display: flex; }
    .moneyforhour_block > ._result > ._icon {
      display: flex;
      padding-right: 0.5rem; }
    .moneyforhour_block > ._result > ._title {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 0.5em;
      line-height: 0.8em;
      opacity: 0.6;
      font-weight: 300; }

.block_moneys .block_chart {
  background: #20292b; }
.block_moneys .sub_title {
  color: #4F9497; }
  .block_moneys .sub_title:after {
    background: linear-gradient(to right, #4F9497 35%, rgba(255, 255, 255, 0) 100%); }
.block_moneys .block_loading:before, .block_moneys .block_loading:after {
  border-color: #4F9497 !important; }
.block_moneys .block_loading ._icon {
  color: #4F9497 !important; }

.money {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0; }
  .money._show_ {
    opacity: 1; }
  .money._card_show_true ._card, .money._cardto_show_true ._card {
    display: flex; }
  .money._cardto_show_true ._cardto {
    display: flex; }
  .money._category_show_true ._sub {
    display: flex; }
  .money._category_show_true ._category {
    display: flex; }
  .money._project_show_true ._sub {
    display: flex; }
  .money._project_show_true ._project {
    display: flex; }
  .money._task_show_true ._sub {
    display: flex; }
  .money._task_show_true ._task {
    display: flex; }
  .money._subscription_show_true ._subscription {
    display: flex; }
  .money ._date {
    opacity: 0.5;
    font-size: 0.8rem;
    font-weight: lighter;
    margin-right: 0.5rem; }
  .money ._card {
    display: none;
    align-items: center;
    opacity: 0.5;
    font-size: 0.8rem;
    font-weight: lighter; }
    .money ._card i,
    .money ._card svg {
      margin-right: 0.2rem; }
  .money ._cardto {
    display: none;
    align-items: center; }
    .money ._cardto small {
      margin: 0 0.2rem; }
  .money ._subscription {
    display: none; }
  .money ._price {
    font-size: 1rem;
    font-weight: normal;
    margin-right: 0.5rem; }
  .money ._sub {
    display: none;
    padding: 0.5rem;
    font-weight: lighter; }
  .money ._category {
    display: none; }
  .money ._project {
    display: none; }
  .money ._task {
    display: none; }
  .money._type_1_ {
    position: relative;
    z-index: 1; }
    .money._type_1_:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #20292b;
      opacity: 0.4;
      z-index: -1; }

.moneys_category .moneys_category-data {
  position: relative;
  z-index: 1; }
  .moneys_category .moneys_category-data .list-group-item {
    background: none; }
  .moneys_category .moneys_category-data .moneys_category-data_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.1;
    border-radius: 0.5rem; }

@media screen and (max-width: 1000px) {
  .money {
    flex-direction: column; }
    .money .rounded-pill {
      margin-left: auto;
      margin-top: 0.5rem; }
    .money:before {
      position: absolute;
      top: 0.3rem;
      left: 0.3rem;
      opacity: 0.3; } }
.money_category._edit_show_true ._select {
  display: inline-block; }
.money_category._edit_show_true ._edit {
  display: inline-block; }
.money_category._edit_show_true ._del {
  display: inline-block; }
.money_category ._select {
  display: none; }
.money_category ._edit {
  display: none; }
.money_category ._del {
  display: none; }

.money_subscription._paid_show_true ._paid {
  display: block; }
.money_subscription._card_show_true ._card {
  display: block; }
.money_subscription ._paid {
  display: none; }
.money_subscription ._card {
  display: none; }

.card_item._commission_show_true ._commission {
  display: inline-block; }
.card_item ._commission {
  display: none; }
.card_item._noedit_show_true ._select {
  display: inline-block; }
.card_item._noedit_show_true ._edit {
  display: inline-block; }
.card_item._noedit_show_true ._del {
  display: inline-block; }
.card_item ._select {
  display: none; }
.card_item ._edit {
  display: none; }
.card_item ._del {
  display: none; }

.block_times .block_chart {
  background: #232424; }
.block_times .sub_title {
  color: #7FC6A4; }
  .block_times .sub_title:after {
    background: linear-gradient(to right, #7FC6A4 35%, rgba(255, 255, 255, 0) 100%); }
.block_times .block_loading:before, .block_times .block_loading:after {
  border-color: #7FC6A4 !important; }
.block_times .block_loading ._icon {
  color: #7FC6A4 !important; }

.time {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0; }
  .time._category_show_true ._date, .time._project_show_true ._date, .time._task_show_true ._date {
    padding-bottom: 0; }
  .time._category_show_true ._subs, .time._project_show_true ._subs, .time._task_show_true ._subs {
    display: flex; }
  .time._category_show_true ._category {
    display: flex; }
  .time._project_show_true ._project {
    display: flex; }
  .time._task_show_true ._task {
    display: flex; }
  .time ._date {
    display: flex;
    opacity: 0.5;
    font-size: 0.8em;
    font-weight: lighter;
    padding-bottom: 0.5rem; }
  .time ._subs {
    display: none;
    padding: 0.4rem 0.2rem 0.6rem; }
    .time ._subs > * {
      padding-right: 0.5rem; }
  .time ._category,
  .time ._project,
  .time ._task {
    opacity: 0.5;
    font-size: 0.9em;
    font-weight: lighter;
    display: none; }
  .time._show_ {
    opacity: 1; }

.times_category .times_category-data {
  position: relative;
  z-index: 1; }
  .times_category .times_category-data .list-group-item {
    background: none; }
  .times_category .times_category-data .times_category-data_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.1;
    border-radius: 0.5rem; }

.times_categoriy._edit_show_true ._select {
  display: inline-block; }
.times_categoriy._edit_show_true ._edit {
  display: inline-block; }
.times_categoriy._edit_show_true ._del {
  display: inline-block; }
.times_categoriy ._select {
  display: none; }
.times_categoriy ._edit {
  display: none; }
.times_categoriy ._del {
  display: none; }

.block_tasks .sub_title {
  color: #BBC7CE; }
  .block_tasks .sub_title:after {
    background: linear-gradient(to right, #BBC7CE 35%, rgba(255, 255, 255, 0) 100%); }

.task {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; }
  .task._status_show_true ._status {
    display: inline-block; }
  .task._project_show_true ._project {
    display: flex;
    font-size: 0.8em;
    line-height: 1;
    opacity: 0.5; }
  .task._time_show_true ._time {
    display: flex; }
  .task._money_show_true ._money {
    display: flex; }
  .task ._status {
    display: none; }
  .task ._time {
    display: none;
    align-items: center; }
    .task ._time i,
    .task ._time svg {
      margin-right: 0.5rem; }
    .task ._time span {
      padding: 0.2rem; }
  .task ._money {
    display: none;
    align-items: center; }
    .task ._money i,
    .task ._money svg {
      margin-right: 0.5rem; }
    .task ._money span {
      padding: 0.2rem; }
  .task ._project {
    display: none; }
  .task ._description_prev {
    padding: 1rem;
    font-size: 0.9em;
    line-height: 1.6; }
  .task ._sub {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5rem; }
  .task._show_ {
    opacity: 1; }

.block_chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 27rem;
  margin: 2rem 0;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.2rem 0rem rgba(30, 30, 30, 0.3), 0 0 0.6rem 0.6rem rgba(30, 30, 30, 0.3), inset 0 0 0.1rem 0 rgba(50, 50, 50, 0.3);
  transition: all 0.3s ease-in-out 0s; }

body .accordion-button,
body .accordion-button:not(.collapsed) {
  color: black;
  background: #fdfdfd; }
body .accordion-item {
  color: black;
  background: #fdfdfd; }
body .form-select,
body .form-select:focus,
body .form-control,
body .form-control:focus,
body .form-control:disabled {
  color: black;
  background: white;
  border-color: #f7efef; }
body .form-control:disabled {
  opacity: 0.6; }
body .picker__box .picker__header .picker__date-display .picker__weekday-display,
body .datepicker table tr td.active:active,
body .datepicker table tr td.active.highlighted:active,
body .datepicker table tr td.active.active,
body .datepicker table tr td.active.highlighted.active {
  color: black;
  background: #fdfdfd; }
body .btn {
  color: black;
  border-radius: 0.5rem;
  background: white;
  box-shadow: 0 0 0.2rem 0rem rgba(30, 30, 30, 0.3), 0 0 0.6rem 0.6rem rgba(30, 30, 30, 0.3), inset 0 0 0.1rem 0 rgba(50, 50, 50, 0.3); }
  body .btn:focus {
    color: #3282c8;
    box-shadow: 0 0 0.2rem 0rem rgba(30, 30, 30, 0.3), 0 0 0.6rem 0.6rem rgba(30, 30, 30, 0.3), inset 0 0 0.1rem 0 rgba(50, 50, 50, 0.3); }
  body .btn.btn-primary {
    background: white;
    border-color: white; }
  body .btn.btn-dark {
    background: #f7efef;
    border-color: #f7efef; }
  body .btn.disabled {
    color: #bcc4cc; }
  body .btn:hover {
    color: #3282c8; }
body .btn-group .btn {
  margin: 0.6rem; }
body .card {
  position: relative;
  z-index: 1;
  color: black;
  background: #fdfdfd; }
  body .card .card-text {
    opacity: 0.5; }
body .list-group {
  padding: 0;
  border-radius: 0.5rem; }
body .list-group-item {
  color: black;
  background: #fdfdfd;
  z-index: 1; }
  body .list-group-item .icon {
    font-size: 1em;
    margin-right: 0.5rem; }
body .list-group-item.disabled,
body .list-group-item:disabled {
  background: #fdfdfd; }
body .list-group-item-action:focus,
body .list-group-item-action:hover {
  color: #3282c8;
  background: #f7efef; }
body .input-group-text {
  color: black;
  background: white;
  border-color: white; }
body .jumbotron a {
  color: #3282c8; }
  body .jumbotron a:hover {
    color: #3282c8 !important;
    opacity: 0.8; }
body .jumbotron .lead {
  font-size: 1em;
  line-height: 1.2; }
  body .jumbotron .lead .icon {
    margin-right: 0.5rem; }
body .badge {
  border-radius: 0.5rem; }
body .navbar .home_link {
  color: black;
  text-decoration: none; }
body .form-control-plaintext {
  color: black; }

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  color: black;
  background: white;
  font-family: "Geometria";
  font-size: 14px;
  line-height: 18px;
  overflow-x: hidden;
  max-width: 100%;
  min-height: 100vh; }
  body:before, body:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }

header {
  flex-grow: 1; }
  header ul li {
    margin-left: 1rem; }
  header .container-fluid {
    padding: 0; }

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  flex-grow: 100; }

footer {
  flex-grow: 1;
  padding: 1rem; }
  footer ._copy {
    font-size: 0.8em;
    line-height: 1;
    text-align: center;
    opacity: 0.6; }
    footer ._copy a {
      color: black; }
      footer ._copy a:hover {
        opacity: 0.5; }

.block_template {
  display: none; }

.block_content_loader {
  overflow: hidden;
  transition: all 0.3s ease-in-out 0s; }

.text_seporator {
  margin-left: 0.2rem;
  margin-right: 0.2rem; }

.icon {
  font-size: 1.2rem;
  line-height: 1;
  color: black; }

.switch_icons > *:nth-child(1) {
  display: block; }
.switch_icons > *:nth-child(2) {
  display: none; }
.switch_icons._active_ > *:nth-child(1) {
  display: none; }
.switch_icons._active_ > *:nth-child(2) {
  display: block; }

.content_manager_buttons._hide_ {
  display: none !important; }

.block_content_loader {
  padding: 0; }

.block_analitycs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1rem;
  line-height: 1rem; }
  .block_analitycs > ._prev {
    flex-grow: 1;
    position: relative;
    z-index: 1;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap; }
    .block_analitycs > ._prev > ._icon {
      font-size: 1em;
      line-height: 0.8em;
      margin-right: 0.2rem;
      opacity: 0.5; }
    .block_analitycs > ._prev > ._title {
      font-size: 0.8em;
      line-height: 0.8em;
      opacity: 0.5; }
    .block_analitycs > ._prev > ._value {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 0.2rem;
      font-size: 1.3em;
      font-weight: bold;
      line-height: 1; }
    .block_analitycs > ._prev > ._subs {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-top: 1rem; }
      .block_analitycs > ._prev > ._subs > ._sub {
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding: 0.2rem; }
        .block_analitycs > ._prev > ._subs > ._sub > ._title {
          font-size: 0.8em;
          line-height: 0.8em;
          opacity: 0.5;
          margin-right: 0.5rem; }
        .block_analitycs > ._prev > ._subs > ._sub > ._value._check strike {
          opacity: 0.4; }
        .block_analitycs > ._prev > ._subs > ._sub > ._value._check i,
        .block_analitycs > ._prev > ._subs > ._sub > ._value._check svg {
          margin-left: 0.4rem; }
        .block_analitycs > ._prev > ._subs > ._sub > ._value._check strong {
          margin-left: 0.4rem; }
        .block_analitycs > ._prev > ._subs > ._sub._res {
          padding-top: 0.5rem;
          font-weight: 400; }
          .block_analitycs > ._prev > ._subs > ._sub._res > ._title {
            font-size: 1.2em; }
          .block_analitycs > ._prev > ._subs > ._sub._res > ._value {
            font-size: 1.2em; }
    .block_analitycs > ._prev.__success {
      color: #2cb544 !important; }
    .block_analitycs > ._prev.__error {
      color: #ff7b7b !important; }

.progress_block .progress {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s; }
.progress_block .progress-bar {
  background-color: white; }
.progress_block._edit_ .progress {
  opacity: 0.2; }

.clock_revers {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box; }
  .clock_revers ._date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .clock_revers ._date ._n {
      font-size: 1.2em;
      font-weight: 300;
      line-height: 1.2; }
    .clock_revers ._date ._s {
      font-size: 0.9em;
      font-weight: 300;
      line-height: 1.2;
      opacity: 0.8; }
  .clock_revers ._timer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem; }
    .clock_revers ._timer ._icon {
      margin-right: 0.5rem;
      opacity: 0.5; }
    .clock_revers ._timer ._val {
      display: flex;
      align-items: baseline; }
      .clock_revers ._timer ._val ._p {
        display: flex;
        justify-content: center;
        width: 0.5rem;
        font-size: 0.8em;
        opacity: 0.5;
        font-weight: 300; }
      .clock_revers ._timer ._val ._h {
        display: flex;
        justify-content: center;
        width: 1.3rem;
        font-size: 1em;
        opacity: 0.5;
        font-weight: 300; }
      .clock_revers ._timer ._val ._m {
        display: flex;
        justify-content: center;
        width: 1.3rem;
        font-size: 1em;
        opacity: 0.5;
        font-weight: 300; }
      .clock_revers ._timer ._val ._s {
        display: flex;
        justify-content: center;
        width: 1.4rem;
        font-size: 1em;
        font-weight: 500; }
  .clock_revers ._progress {
    width: 100%;
    max-width: 20rem;
    margin: auto; }
    .clock_revers ._progress ._bar {
      transition: all 0.3s ease-in-out 0s; }

.home_container {
  font-size: 1em;
  line-height: 1; }
  .home_container ._home_title {
    font-size: 2em;
    text-align: center; }
    .home_container ._home_title ._seporator {
      opacity: 0.5; }
  .home_container ._section {
    padding-top: 1rem;
    padding-bottom: 4rem; }
    .home_container ._section ._block {
      display: flex;
      flex-direction: column;
      padding: 2rem 0; }
      .home_container ._section ._block ._icon {
        display: flex;
        justify-content: center;
        opacity: 0.5;
        font-size: 1.5em;
        line-height: 1.5;
        padding: 0 0 1rem;
        box-sizing: border-box; }
      .home_container ._section ._block ._content {
        font-size: 1em;
        line-height: 1.2;
        padding: 0.5rem;
        box-sizing: border-box; }
        .home_container ._section ._block ._content .icon {
          font-size: 1em;
          margin-right: 0.5rem; }

.sub_title {
  position: relative;
  z-index: 1; }
  .sub_title:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.15rem;
    background: linear-gradient(to right, #3282c8 35%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.5;
    z-index: -1; }

.welcome_container ._section ._block ._list {
  display: flex;
  flex-wrap: wrap; }
  .welcome_container ._section ._block ._list ._item {
    flex-grow: 1;
    width: 25rem;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    text-align: center;
    margin: 0.2rem; }
    .welcome_container ._section ._block ._list ._item .icon {
      display: flex;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
      padding: 0 0 2rem; }

.block_loading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  z-index: 1; }
  .block_loading:before, .block_loading:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
  .block_loading:before {
    animation: circle ease-in-out 20s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    border-radius: 25% 35% 52% 25%;
    border: 0.13rem solid #3282c8; }
  .block_loading:after {
    animation: circle ease-in-out 15s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    border-radius: 51% 40% 35% 45%;
    border: 0.12rem solid #3282c8; }
  .block_loading ._icon {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #3282c8; }

.user_prev {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start; }
  .user_prev ._login {
    display: flex;
    padding-right: 0.2rem; }
  .user_prev ._role {
    opacity: 0.5;
    font-size: 1em;
    line-height: 0.1em; }
    .user_prev ._role ._icon {
      font-size: 0.5em;
      line-height: 0.5em; }
    .user_prev ._role ._value {
      font-size: 0.5em;
      line-height: 0.5em; }

@media screen and (max-width: 1000px) {
  .block_analitycs {
    flex-wrap: wrap; }
    .block_analitycs ._prev {
      display: flex;
      flex-direction: column;
      min-height: 10rem;
      max-width: 50%;
      justify-content: center; } }

/*# sourceMappingURL=theme.css.map */
