// Colors black
// $color_text: white
// $color_select: rgba(0,200,0,1)
// $color_error: #ff7b7b
// $color_success: #2cb544
//
// $color_main: #3282c8
// $color_main_dark: #221a1a
// $color_main_light: #202022
// $color_main_dark_ultra: #101010
// $color_text: white
// Colors black x


// colors
$color_text: black
$color_select: rgba(0,200,0,1)
$color_error: #ff7b7b
$color_success: #2cb544

$color_main: #3282c8
$color_main_dark: #fff
$color_main_light: #97caf7
$color_main_dark_ultra: #101010
// colors x

// themes
// @media (prefers-color-scheme: dark)
.dark-theme
  // $color_text: white
  // $color_select: rgba(0,200,0,1)
  // $color_error: #ff7b7b
  // $color_success: #2cb544
  //
  // $color_main: #3282c8
  // $color_main_dark: #221a1a
  // $color_main_light: #202022
  // $color_main_dark_ultra: #101010
  // $color_text: white

  $color_text: white !global
  $color_select: rgba(0,200,0,1) !global
  $color_error: #ff7b7b !global
  $color_success: #2cb544 !global

  $color_main: #3282c8 !global
  $color_main_dark: #221a1a !global
  $color_main_light: #202022 !global
  $color_main_dark_ultra: #101010 !global
// themes x

// 0thers
$font_default: 'Geometria'
// 0thers x
