// STYLE
body
  position: relative
  display: flex
  // flex-direction: column
  // justify-content: space-between
  z-index: 1
  color: $color_text
  background: $color_main_dark
  font-family: $font_default
  font-size: 14px
  line-height: 18px
  overflow-x: hidden
  max-width: 100%
  min-height: 100vh
  overflow: hidden

  &:before,
  &:after
    content: ''
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -1

header
  flex-grow: 1
  display: flex
  flex-direction: column
  overflow-x: hidden
  overflow-y: auto
  max-height: 100vh
  @include scroll

main
  display: flex
  flex-direction: column
  box-sizing: border-box
  flex-grow: 100
  overflow-x: hidden
  overflow-y: auto
  max-height: 100vh
  overflow: auto
  padding: 1rem
  @include scroll

  .block_jumbotron
    position: sticky

    ._block_title
      display: flex
      justify-content: space-between
      padding: 1rem


      ._value
        flex-grow: 10
        margin: 0

      ._buttons
        flex-grow: 1

        .btn
          padding: 0
          margin: 0

          svg
            margin: auto

footer
  display: flex
  flex-grow: 1
  overflow-x: hidden
  overflow-y: auto
  max-height: 100vh
  @include scroll

  .block_footer
    display: flex
    width: 100%
    flex-direction: column
    justify-content: space-between

    ._actions

    ._copy
      padding: 1.3rem
      font-size: .8em
      line-height: 1
      text-align: center
      opacity: .6

      a
        color: $color_text

        &:hover
          opacity: .5

@media screen and (max-width:1200px)
  body
    flex-direction: column
