// STYLE
body
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  z-index: 1
  color: $color_text
  background: $color_main_dark
  font-family: $font_default
  font-size: 14px
  line-height: 18px
  overflow-x: hidden
  max-width: 100%
  min-height: 100vh

  &:before,
  &:after
    content: ''
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: -1
    
header
  flex-grow: 1

  ul
    li
      margin-left: 1rem

  .container-fluid
    padding: 0

main
  display: flex
  flex-direction: column
  padding: 1rem
  box-sizing: border-box
  flex-grow: 100

footer
  flex-grow: 1
  padding: 1rem

  ._copy
    font-size: .8em
    line-height: 1
    text-align: center
    opacity: .6

    a
      color: $color_text

      &:hover
        opacity: .5
