@import "config"
// @import "mixins"
// @media screen and (max-width:776px)
// @media screen and (orientation:landscape) and (max-width:776px)
@media screen and (max-width:1200px)
  body
    font-size: 12px
    line-height: 16px

    header
      .block_nav_header
        display: none

    main
      padding-bottom: 5rem
      // overflow: auto
      // overflow-y: visible
      // max-height: inherit

    footer
      .block_footer
        ._actions
          position: fixed
          bottom: -50vh
          right: 1rem
          font-size: 2em
          line-height: 2em
          z-index: 9999
          @include transition_default

          &._active_
            bottom: calc( #{$block_nav_mobile_height} + 1rem )
