// .money_subscription
.money_subscription
  &._paid_show_true
    ._paid
      display: block

  &._card_show_true
    ._card
      display: block

  ._paid
    display: none

  ._card
    display: none
// .money_subscription x
